.weatherSkeleton{
  width: 295px !important;
  height: 459px !important;
  box-shadow: 0 0 6.4px 4px rgba(0,0,0,.06275) !important;
  border-radius: 4px !important;
  min-height: 100%;
  background-color: #fff;
  background-image: radial-gradient( circle 328px at 2.9% 15%,  rgba(191,224,251,1) 0%, rgba(232,233,251,1) 25.8%, rgba(252,239,250,1) 50.8%, rgba(234,251,251,1) 77.6%, rgba(240,251,244,1) 100.7% ); 

}

.datagrid__loader{
  border-radius: 8px;
  background: #403d3d;
  height: 20px;
  margin-top: 33px;
  margin-bottom: 25px;
}
.second{
  height: 12px !important;
  margin-bottom: 0px;
}
.third{
  height: 50px !important;
  margin-top: 70px;
  margin-bottom: 48px;
  border-radius: 25px;
}

.datagrid__row {
  animation: aniVertical 3s ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  opacity: 0;
}
.datagrid__row:nth-child(2) {
  animation-delay: .3s;
}
.datagrid__row:nth-child(3) {
  animation-delay: .6s;
}
.datagrid__row:nth-child(4) {
  animation-delay: .9s;
}
.datagrid__row:nth-child(5) {
  animation-delay: 1.2s;
}
.datagrid__row:nth-child(6) {
  animation-delay: 1.5s;
}





@keyframes aniVertical {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


